@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #361d4a;
  scrollbar-color: #66378c #66378c;
  scroll-behavior: smooth;
}

.appears-content {
  animation: fadeInOut 0.5s ease-out 1s forwards;
  opacity: 0;
}

.appears-content-with-mask {
  animation: fadeInOut 0.5s ease-out 1s forwards;
  opacity: 0;

  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    50% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@keyframes fadeInOut {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
